.app {
    min-height: 100vh;
    display: grid;
    place-items:center;
    grid-template-rows: 1fr ;
    background: url("./bg.png");
}
table, tr {
    width: 1151px;
    background-color: white;

}
td ,th{
    padding: 10px;
    /* border: 1px solid red; */
    border-spacing: 0px;
    width: 300px;
}
td {
    text-align: center;
    
}